body {
	background-image: url("img/kurvix.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	
	color: #FFCE0D;
	font-family: Roboto;
}
h1, h2, label {
	font-family: Korolev, sans-serif;
	font-size: 2em;
	margin: 0.25em 0;
}
ul {
	list-style-type: none;
}
label {
	position: relative;
	
	font-size: 1.5em;
	font-weight: bold;
}
input[type=checkbox] {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}
a {
	color: #DDD;
	text-decoration: none;
}
p {
	text-align: justify;
}

div.main {
	max-width: 800px;
	margin: 0 auto;
	
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1em;
}
img.logo {
	display: block;
	margin: 0 auto;
	
	max-width: 100%;
}
textarea.output {
	display: block;
	width: 100%;
	height: 200px;
	box-sizing: border-box;
	
	border: 2px solid #FFCE0D;
	background-color: #111;
	
	color: inherit;
	font-family: monospace;
	font-size: 12pt;
	
	resize: vertical;
}
ul.sourcepicker input[type=checkbox]:checked ~ div.checkbox {
	background-color: #FFCE0D;
}
ul.sourcepicker li:not(:last-of-type) {
	margin-bottom: 3px;
}
div.checkbox {
	display: inline-block;
	
	width: 1.1em;
	height: 1.1em;
	
	border: 2px solid #FFCE0D;
	background-color: #111;
	
	vertical-align: sub;
}
a.buttonlink {
	font-family: Korolev;
	font-weight: bold;
	font-size: 2em;
	
	display: block;
	text-align: center;
}

@font-face {
	font-family: Roboto;
}
@font-face {
	font-family: Korolev;
	font-weight: bold;
	src: url("korolevbold.otf");
}